.navDiv{
    border:3px solid black;
    margin-left:5px;
    margin-right:5px;
    height:48px;
    border-radius:5px 5px 5px 5px;
}

.linkDiv{
    color:black;
    width:68px;
    background-color:white;
    font-family:Verdana;
    margin-left:3px;
    margin-right:20px;
    margin-top:5.5px;
    margin-bottom:2px;
    border:3px solid black;
    text-align:center;
    float:left;
}

.linkDiv:hover {
    text-decoration:none;
    border-color:crimson;
    background-color:lightyellow;
    transition-property:border-color;
    transition-delay:0.1s;
    transition-duration:0.2s;
}

.logoDiv{
    font-family:'Century Gothic';
    color:darkslategrey;
    font-size:45px;
    margin-top:-13px;
    margin-bottom:3px;
    margin-right:9px;
    float:right;
}

.ContactDiv{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    background-color:lightgreen;
    align-self:center;
    height:220px;
}

.AlignerDiv{
    margin-right:auto;
    margin-left:20px;
    display:inline;
    margin-top:40px;
    position:static;
}

.SendButton{
    background-color:#cac6c6;
    color:black;
    border:2px solid #110f0f;
    -webkit-margin-top-collapse: separate; 
    margin-top:8px;
}

.SendButton:hover{
    background-color:black;
    color:#cac6c6;
    border:2px solid #cac6c6;
}

.ClearButton{
    background-color:#cac6c6;
    color:black;
    border:2px solid #110f0f;
    -webkit-margin-top-collapse: separate; 
    margin-top:8px;
}

.ClearButton:hover{
    background-color:black;
    color:#cac6c6;
    border:2px solid #cac6c6;
}

.InputTextBox{
        width:255px;
}

.InputTextBox:hover{
    border:0.5px solid blue;
}

.ButtonsDiv{
    margin-left:140px;
    margin-right:auto;
    vertical-align:middle;
}

.AboutMeDiv{
    border:3px solid black;
    border-radius:5px 5px 5px 5px;
    margin-top:10px;
    height:auto;
    margin-left:5px;
    margin-right:5px;
}

.MyPhotoDiv{
    background-image:url(../Assets/images/myPhoto.jpg);
    margin-left:2.5px;
    margin-right:0px;
    margin-top:2.5px;
    margin-bottom:2.5px;
    border:3px solid black;
    border-left:0px;
    background-size:227px 387px;
    background-repeat:no-repeat;
    height:387px;
    width:230px;
    display:inline-block;
}

.MyPhotoDiv > img{
    height:380px;
    width:227px;
}

.AboutMeTextDiv{
    border:3px solid black;
    border-radius:5px 5px 5px 5px;
    display:inline-block;
    vertical-align:top;
    margin-top:3.3px;   
    width:240px;
    height:387px;
    font-family:Verdana;
    color:black;
    font-size:35px;
    padding:2px 2px 2px 2px;
    text-align:left;
    border-left:0px;
    text-align:left;
}

.quoteDiv{
    height:387px;
    width:240px;
    border:3px solid black;
    border-left:0px;
    border-radius:5px 5px 5px 5px;
    display:inline-block;
    vertical-align:top;
    margin-top:3.3px;
    color:black;
    font-family:Verdana;
    font-size:35px;
}

.myHobbiesDiv{
    height:387px;
    width:240px;
    border:3px solid black;
    border-left:0px;
    border-radius:5px 5px 5px 5px;
    display:inline-block;
    vertical-align:top;
    margin-top:3.3px;
    color:black;
    font-family:Verdana;
    font-size:30px;
}
.hobbiesChild{
    height:auto;
    width:230px;
    border:2px solid #007acc;
    margin-top:9px;
    color:white;
    background-color:#007acc;
    border-radius:0px 20px 20px 0px;
    font-size:35px;
    transition-property:border-color, background-color;
    transition-delay:0.001s;
    transition-duration:0.9s;
}

.hobbiesChild:hover{
    border:2px solid #5b297e;
    background-color:#5b297e;
}

.myDreamDiv{
    height:387px;
    width:240px;
    border:3px solid black;
    border-left:0px;
    border-radius:5px 5px 5px 5px;
    display:inline-block;
    vertical-align:top;
    margin-top:3.3px;
    color:black;
    font-family:Verdana;
    font-size:35px;
}

.ProjectsHeadingDiv{
    border:3px solid black;
    border-left:none;
    margin-left:10px;
    border-radius:5px 10px 10px 5px;
    border-right-width:9px;
    display:;
    color:darkgray;
    font-family:Verdana;
    font-size:32.5px;
    height:50px;
    float:left;
    margin-top:20px;
    padding-right:5px;
    transition: color 1s;
    width:1330px;
}

@media(max-width:1329px){
    .ProjectsHeadingDiv{
        width:auto;
    }
}

.ProjectsHeadingDiv:hover{
    color:#0eeadd;
}

.ProjectsChild1{
    border:3px solid black;
    display:inline-block;
    padding-left:3px;
    padding-right:3px;
    padding-top:-20px;
    height:48px;
    font-size:30px;
    margin-left:10px;
    margin-top:20px;
    border-left:0px;
}
@media(max-width:720px){
    #otherProjectsLinkDiv{
    margin-bottom:500px;
    }
}


 .ProjectsChild1 > a{
     color:black;
     font-family:Verdana;
     font-size:30px;
     text-decoration:none;
 }

 .ProjectsChild1:hover{
     border-color:#304f09;
     background-color:cyan;
     color:red;
 }

.ProjectsLinkDiv{
    float:left;
    margin-top:3px;
    margin-left:20px;
}

.SocialMediaIcons{
    border:3px solid #2baaea;
    padding:2px 2px 2px 2px;
    border-radius:7px 7px 7px 7px;
    height:auto;
    width:auto;
    margin-top:40px;
    margin-left:0px;
    display:inline-block;
}

#facebookLogoDiv{
    background-image:url(../Assets/images/facebookLogo.jpg);
    border:2px solid blue;
    height:50px;
    width:50px;
    display:inline-block;
}

#disqusLogoDiv{
    background-image:url(../Assets/images/disqusLogo.jpg);
    border:2px solid blue;
    height:50px;
    width:50px;
    display:inline-block;
    margin-top:0px;
}

#linkedinLogoDiv{
    background-image:url(../Assets/images/linkedinLogo.jpg);
    border:2px solid blue;
    height:50px;
    width:50px;
    display:inline-block;
    margin-top:0px;
}

#emailLogoDiv{
    background-image:url(../Assets/images/emailLogo.jpg);
    border:2px solid blue;
    height:50px;
    width:50px;
    display:inline-block;
    margin-top:0px;
}

.contactInfo{
    border:2px solid blue;
    display:normal;
    font-family:Verdana;
    color:#064b4b;
    font-size:28px;
    height:auto;
    margin-top:7px;
    -webkit-margin-top-collapse:separate;
    align-content:center;
    border-radius:5px 5px 5px 5px;
    width:auto;
    background-color:#b5e1ba;
    transition-property:border, color, background-color;
    transition-duration:1.5s;
    transition-delay:0.9s;
}

.contactInfo:hover{
    border:2px solid #064b4b;
    color:blue;
    background-color:white;
}

.html5Div{
    border:3px solid #f1662b;
    padding:2px 2px 2px 2px;
    border-radius:5px 5px 5px 5px;
    width:110px;
    margin-top:6px;
    margin-left:6px;
    display:inline-block;
    color:#f1662b;
}

.html5ImageDiv{
    background-image:url(../Assets/images/html5Logo.jpg);
    height:100px;
    width:100px;
    display:inline-block;
}

.html5TextDiv{
    width:100px;
    height:auto;
    font-family:Verdana;
    font-size:20px;
    text-align:center;
    border:2px solid #f1662b;
}

.cssDiv{
    border:3px solid #3c9cd8;
    padding:2px 2px 2px 2px;
    border-radius:5px 5px 5px 5px;
    width:110px;
    margin-top:6px;
    margin-left:6px;
    display:inline-block;
    color:#3c9cd8;
}

.cssImageDiv{
    background-image:url(../Assets/images/css3Logo.jpg);
    height:100px;
    width:100px;
    display:inline-block;
}

.cssTextDiv{
    width:100px;
    height:auto;
    font-family:Verdana;
    font-size:20px;
    text-align:center;
    border:2px solid #3c9cd8;
}

.javascriptDiv{
    border:3px solid #7ebf00;
    padding:2px 2px 2px 2px;
    border-radius:5px 5px 5px 5px;
    width:119px;
    margin-top:6px;
    margin-left:6px;
    display:inline-block;
    color:#7ebf00;
    align-content:center;
}

.javascriptImageDiv{
    background-image:url(../Assets/images/javascriptLogo.jpg);
    height:100px;
    width:100px;
    display:inline-block;
}

.javascriptTextDiv{
    width:109px;
    height:auto;
    font-family:Verdana;
    font-size:20px;
    text-align:center;
    border:2px solid #7ebf00;
}

.csharpDiv{
    border:3px solid #ed1c24;
    padding:2px 2px 2px 2px;
    border-radius:5px 5px 5px 5px;
    width:110px;
    margin-top:6px;
    margin-left:6px;
    display:inline-block;
    color:#ed1c24;
    align-content:center;
}

.csharpImageDiv{
    background-image:url(../Assets/images/csharpLogo.jpg);
    height:100px;
    width:100px;
    display:inline-block;
}

.csharpTextDiv{
    width:100px;
    height:auto;
    font-family:Verdana;
    font-size:20px;
    text-align:center;
    border:2px solid #ed1c24;
}

.javaDiv{
    border:3px solid #bd6428;
    padding:2px 2px 2px 2px;
    border-radius:5px 5px 5px 5px;
    width:110px;
    margin-top:6px;
    margin-left:6px;
    display:inline-block;
    color:#bd6428;
    align-content:center;
}

.javaImageDiv{
    background-image:url(../Assets/images/javaLogo.jpg);
    height:100px;
    width:100px;
    display:inline-block;
}

.javaTextDiv{
    width:100px;
    height:auto;
    font-family:Verdana;
    font-size:20px;
    text-align:center;
    border:2px solid #bd6428;
}

.sqlDiv{
    border:3px solid #e97b00;
    padding:2px 2px 2px 2px;
    border-radius:5px 5px 5px 5px;
    width:110px;
    margin-top:6px;
    margin-left:6px;
    display:inline-block;
    color:#e97b00;
    align-content:center;
}

.sqlImageDiv{
    background-image:url(../Assets/images/sqlLogo.jpg);
    height:100px;
    width:100px;
    display:inline-block;
}

.sqlTextDiv{
    width:100px;
    height:auto;
    font-family:Verdana;
    font-size:20px;
    text-align:center;
    border:2px solid #e97b00;
}

.aspnetDiv{
    border:3px solid #3f48cc;
    padding:2px 2px 2px 2px;
    border-radius:5px 5px 5px 5px;
    width:110px;
    margin-top:6px;
    margin-left:6px;
    display:inline-block;
    color:#3f48cc;
    align-content:center;
}

.aspnetImageDiv{
    background-image:url(../Assets/images/aspnet.jpg);
    height:100px;
    width:100px;
    display:inline-block;
}

.aspnetTextDiv{
    width:100px;
    height:auto;
    font-family:Verdana;
    font-size:20px;
    text-align:center;
    border:2px solid #3f48cc;
}